@font-face {
    font-family: 'mainFont';
    src: url(../fonts/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-header);
}
mark{
    font-size: 13px;width:fit-content;padding:5px;
}
a {
    text-decoration: none;
}

.errorDiv {
    display: flex;
    background-color: rgba(238, 31, 31, 0.596);
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 25px;
    font-size: 1rem;
    color: white;
    margin: 5px;
    border-radius: 30px 30px 0;
}

/*#region Variable */

:root {
    --main--color: #13168F;
    --primary-color: #eee;
}

body {
    font-family: mainFont;
    background-color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/* small*/

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium*/

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large*/

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* very large */
@media (min-width: 1600px) {
    .container {
        width: 1400px;
    }

}

.header {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.384);
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
    width: 100%;
    height: 80px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: black;
    height: 80px;
}

.header .logo img {
    width: 80px;
    transition: all 0.7s ease;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .container .loginBtn {
    border: none;
    text-decoration: none;
    display: inline-block;
    background-color: var(--main--color);
    padding: 10px 30px;
    color: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn_hover:hover {
    background-color: #eee !important;
    color: var(--main--color) !important;
    border: 1px solid var(--main--color) !important;
    cursor: pointer;
}

/*#end Header*/

main.main {
    height: calc(100vh - 100px);
}

main.main .container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main.main .container {
    height: 100%;
    position: relative;
}

/* start main content style*/
.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.mainContent a {
    display: inline-block;
    background-color: var(--main--color);
    padding: 15px 50px;
    border-radius: 20px;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.5s ease;
}


/*#region Footer*/
.footer {
    background-color: var(--main--color);
    color: var(--primary-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div {
    margin: auto;
    text-align: center;

}

/* start bill search style*/
.billSearch {
    padding: 20px;
    width: 80%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.137);
}

.billSearch .search {
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

@media (max-width: 768px) {
    .billSearch .search {
        flex-direction: column;
    }

    .billSearch input,
    button {
        width: 100%;

    }
}

.billSearch .search input {
    padding: 5px;
    border: none;
    background-color: #eee;
    outline: none;

}

.billSearch .search button {
    padding: 10px 15px;
    background-color: var(--main--color);
    color: #eee;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.billSearch .search button i {
    font-size: 1rem;
}

.billSearch .search button:hover {
    background-color: white;
    color: var(--main--color);
}

.billSearch .search button:focus {
    background-color: brown;
    color: white;
}

.billSearch table {
    width: 100%;
    text-align: center;
}

@media(max-width:768px) {
    table {
        font-size: 12px;

    }
}

table tr {
    height: 40px;
}

table tr.odd {
    background-color: #eee;
    color: black;

}

table tr.tableHeader {
    background-color: var(--main--color);
    color: #fff;
}

/* start main dashbord style */
.dashbord {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}

.dashbord a {
    display: block;
    width: 350px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.178);
    flex-direction: column;
    transition: all 0.3s ease;
}

.dashbord a img {
    width: 100px;
    opacity: 0.5;
}

.dashbord a:first-child {
    background-color: var(--main--color);
    color: var(--primary-color);
}

.dashbord a:hover {
    background-color: #eee;
    color: var(--main--color);
    border: 1px solid var(--main--color);
}

/* start users mangement style */
.mangeUsers {
    width: 80%;

}

.content h3 {
    color: var(--main--color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #EEE;
    padding: 10px;
}

.mangeUsers .addUser {
    background-color: var(--main--color);
    color: var(--primary-color);
    padding: 10px 20px;
    width: fit-content;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.mangeUsers table {
    width: 100%;
    text-align: center;

}

.controlpanel {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.controlpanel div {
    padding: 5px 8px;
    border-radius: 2px;
    color: #fff;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.controlpanel div a {
    text-decoration: none;
    color: var(--primary-color);
}

.controlpanel div:hover {
    background-color: var(--main--color);
    opacity: 1;
}

.controlpanel div:first-child {
    background-color: brown;
}

.controlpanel div:last-child {
    background-color: var(--main--color);
}

/* start user CRUD operation style */
.userIfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    /* grid-auto-rows: repeat(auto-fit,minmax(50px,1fr)); */
    /* grid-auto-flow: dense; */
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.199);
}

@media(max-width:800px) {
    .userIfo {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.formInput{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.formInput input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #eee;
}

.userIfo div input::placeholder {
    opacity: 0.3;
    color: gray;
    font-size: 14px;
}

.userIfo .control {
    flex-direction: row;
}

.userIfo .control button {
    padding: 10px 30px;
    color: var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--main--color);
    border: none;
    transition: all 0.5s ease;
}

.userIfo .control button:last-child {
    background-color: brown;
}

.billupload {
    width: 80%;
}

@media(max-width:600px) {
    .billupload {
        width: 100%;
        padding: 10px;
    }

    .upload div input {
        width: 100%;
    }
}

.upload {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-flow: dense;
    gap: 15px;
    margin-bottom: 15px;
}

.upload div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

}

.upload div input {
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    background-color: #eee;
}

.upload div input[type='file'] {
    display: none;
}

.billupload button {
    border: none;
    background-color: var(--main--color);
    padding: 10px 20px;
    color: var(--primary-color);
    position: relative;
    float: right;
    cursor: pointer;
    border-radius: 5px;
}

.upload div i {
    font-size: 4rem;
    color: var(--main--color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.upload div i:hover {
    color: #eee;
}

/** back to home icon style **/
.backToHome {
    margin: auto;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main--color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
/* login style */
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.116);
    width: 300px;
}
.login .loginBtn{
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--main--color);
    color: #fff;
    display: block;
    margin: auto;
    width: 50%;

}
.login input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #eee;
}
/* normalize css file */
/*************************************************************************************************************************************************************/
html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}
button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}